<p id="notice"><%= notice %></p>

<p>
  <b>試合：</b>
  <%= "#{@match_image.match.round.name} / #{@match_image.match.name}" %>
</p>

<p>
  <b>画像</b><br />
	<% if @match_image.image? %>
    <%= image_tag @match_image.image_url, width: 480, height: 360, id: "match_image" if @match_image.image? %><br />
		<%= link_to "画像回転", {}, onclick: "rotateImage(true);return false;", id: "image_rotate_link" %>
	<% end %>
</p>

<%= link_to '戻る', @match_image.match %>
